@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.
@use "sass:color";


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$green: #1a6b68;
$green-light: #3bb7b4;
$grey: #838383;
$yellow: #fdc20c;

// Update the sans-serif font family
$family-sans-serif: "raleway", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
$primary: $green-light;
$warning: $yellow;
$link: $green;
$danger: $red;
$primary-light: lighten($primary, 20%);
$warning-light: lighten($warning, 20%);
$radius: 7px;
$radius-large: 7px;

$navbar-background-color: $primary;
$navbar-item-color: $white;
$navbar-item-hover-background-color: $white;

$box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 2px rgba(10, 10, 10, 0.1);

.is-sticky {
    position: sticky;
    top: 10em;
    align-self: flex-start;
}
 
.competencies {
    .is-child { text-align: center; }
    .notification { padding: 3rem 1.5rem; }
    figure { display: inline-block; }
    img { max-width: 12em; }
}

.is-centered { 
    display: flex;
    justify-content: center;
}

.carousel .carousel-item {
    padding: 3rem;
}
 

#carousel-demo {
    @extend .has-background-white;
    @extend .box;
    img {
        object-fit: contain;
        object-position: center;
        height: 40vh;
    }
    .slider-page { background: $primary-light; }
    .is-active { background: $warning; }
    .slider-navigation-previous, .slider-navigation-next { @extend .has-text-primary;}
    
}
// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-carousel/src/sass/index";

li { margin: 0.5rem auto; }

.is-256x256 {
    width: 256px;
    height: 256px;
}

.has-margin-auto { margin: auto; }

.has-opacity-40 { opacity: 0.4; }
.has-opacity-50 { opacity: 0.5; }
.has-opacity-60 { opacity: 0.6; }
.has-opacity-100 { opacity: 1.0; }

.has-width-40 { width: 40%; }
.has-width-50 { width: 50%; }
.has-width-60 { width: 60%; }
.has-width-70 { width: 70%; }
.has-width-80 { width: 80%; }

.has-height-40 { height: 40%; }
.has-height-50 { height: 50%; }
.has-height-60 { height: 60%; }
.has-height-70 { height: 70%; }
.has-height-80 { height: 80%; }
.has-height-90 { height: 90%; }
.has-height-100 { height: 100%; }

.has-height-10rem { height: 10rem; }
.has-height-11rem { height: 11rem; }
.has-height-12rem { height: 12rem; }
.has-height-13rem { height: 13rem; }
.has-height-14rem { height: 14rem; }
.has-height-15rem { height: 15rem; }

.has-padding-20 { padding: 20%; }
.has-padding-25 { padding: 25%; }
.has-padding-30 { padding: 30%; }

.has-padding-1rem { padding: 1rem; }
.has-padding-2rem { padding: 2rem; }
.has-padding-3rem { padding: 3rem; }
.has-padding-4rem { padding: 4rem; }
.has-padding-5rem { padding: 5rem; }
.has-padding-6rem { padding: 6rem; }

.has-text-shadow-white { text-shadow: 0px 0px 50px white; }
.has-text-shadow-black { text-shadow: 0px 0px 50px black; }

.has-hero-background{ background: rgba(50, 138, 129, 0.3); } 
.has-hero { position: relative; }

.has-hero-img::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-background::after {
    background-image: url("../design/bg/Cactus1.1.jpg");
}
 
.outer-hero::after {
    background: 
        linear-gradient(
            to bottom right, 
            rgba(255,255,255,0.4), 
            rgba(44,176,161,0.1),
        ), 
        url("../design/bg/Cactus2.1.jpg");
    background-size: cover;
    background-position: right 40%;
    clip-path: circle(80% at 100vw 70%);
}

body {
    @extend .has-navbar-fixed-top;
}

figure { @extend .image; }
h1 { @extend .title,    .is-1, .is-size-3-mobile; }
h2 { @extend .subtitle, .is-2, .is-size-4-mobile; }
h3 { @extend .subtitle, .is-3, .is-size-5-mobile; }
h4 { @extend .subtitle, .is-4, .is-size-6-mobile; }
h5 { @extend .subtitle, .is-5, .is-size-7-mobile; }

section > div > h1:first-child {
    @extend .is-uppercase;
}

nav {
    @extend .navbar, .is-fixed-top;
    >div:first-child {
        @extend .navbar-brand;
        span { @extend .navbar-item; }
    }
    >div:last-child {
        @extend .navbar-end;
        div { @extend .field, .is-grouped; }
        a { @extend .navbar-item; }
    }
}

#main-title {
    @extend 
        .hero, 
        .is-fullheight-with-navbar,
        .has-hero, 
        .has-hero-background;

    > div {
        @extend 
            .has-hero-img,
            .hero-background,
            .hero-body,
            .has-margin-auto,
            .is-primary;
    }
    h1, h2 {
        @extend .has-text-white, .has-text-shadow-black;
    }
    h1 {
        @extend 
            .is-uppercase,
            .title;
    }
    h2 {
        @extend 
            .is-capitalized,
            .subtitle;
    }
}

#en-quelques-mots {
    @extend .section, .is-medium;
    h1, p {
        position: relative;
        top: 20%;
    }
    img { max-width: 80%; }
    #fanny { 
        @extend .is-half-touch, .is-one-quarter-desktop;
        float: right;
    }
}

